node_modules
.env
.eslintrc.json
config.json
debug.txt
package-lock.json
ideas.md
pnpm-lock.yaml
src/database/database.db
src/database/database.db-journal
src/database/words.json
testing.js
prisma/migrations
src/commands/info/wordle.js
src/utils/Wordle.js